@model ICollection<StockPerStoreViewModel>

@if(Model?.Any() == false) {
    <text>No stock info</text>
}
else {
    <ul>
    @foreach (var entry in Model) {
        @* <li><a href="@entry.StoreId"></a>@entry.StoreId : @entry.Stock units</li> *@
    }
    </ul>
} 